.pairs-word {
   float:left;
   padding:8px;
   margin:10px;
   background-color: lightblue;
   -moz-user-select:none;
   box-shadow: 5px 5px 5px #888;
}
.pairs-container-left .pairs-word {
    float: right;
}
.pairs-container {
    width:100%;
}
.pairs-container-left {
    width:50%;
    float:left;
}
.pairs-container-right {
    width:50%;
    float:right;
}
.pairs-target {
    background-color: lightgray;
    width: 95%;
    height: 50px;
    margin: 5px;
}
.pairs-target.pairs-wrong {
    background-color: #ffb6c1;
}
.pairs-target.pairs-correct {
    background-color: #90ee90;
}