.pictures-pic {
    width:280px;
    height:210px;
    position:relative;
    background-color: lightgray;
    background-position: center;
    float: left;
    margin: 10px;
    box-shadow: 5px 5px 5px #888;
}
.pictures-grayshade {
    width:100%;
    height:100%;
    background-repeat: repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1gsPDhERFPdaPQAAAA1JREFUeNpj+P//fwMACXwDfpHlCU0AAAAASUVORK5CYII=);
}
.pictures-subtitle {
    width:100%;
    bottom:0px;
    position:absolute;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    background-repeat: repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1gsPDhERFPdaPQAAAA1JREFUeNpj+P//fwMACXwDfpHlCU0AAAAASUVORK5CYII=);
}
#pictures-question {
    background-color: lightgray;
    font-size: 18pt;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #888;
}