body {
  background-color: lightgray;
  font-family: Verdana, Arial, sans-serif;
}
#workbench {
  position: relative;
  width: 600px;
  /*height: 600px;*/
  margin-left: -300px;
  left: 50%;
  bottom: 50%;
  background-color: white;
  box-shadow: 10px 10px 5px #888;
  padding:25px;
}
#buttons {
  text-align: right;
  width: 100%
}

.clear {
  clear: both;
  visibility: hidden;
}
